$--color-purple-800: #30107d;
$--color-purple-200: #401a9b;
$--color-white-300: #f1f5f8;
$--color-white-200: #f7f7f7;
$--color-white: #ffffff;
$--color-cyan-400: #06d6a2;
$--color-red-400: #db3766;
$--color-grey-800: #484f55;
$--color-grey-500: #4c5a5a;
$--color-grey-700: #4e5555;
$--color-grey-300: #b9b9b9;
$--color-grey-100: #d9d9d9;
$--color-grey-dark-transparent: #0000009a;

// NEXT FONT API VARIABLES
$--font-Roboto: var(--font-Roboto);
$--font-Poppins: var(--font-Poppins);

$--font-size-xl: 42px;
$--font-size-x: 28px;
$--font-size-xm: 24px;
$--font-size-ml: 20px;
$--font-size-md: 18px;
$--font-size-sm: 16px;
$--font-size-xsm: 12px;
